---
layout: handbook-page-toc
title: CI/CD Section
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

...

## Mission

The CI/CD section is made up of 3 stages:

1. [Verify](/handbook/product/categories/#verify-stage)
  * [Verify:Continuous Integration](/handbook/engineering/development/ci-cd/verify/continuous-integration/)
  * [Verify:Runner](/handbook/engineering/development/ci-cd/verify/runner/)
  * [Verify:Testing](/handbook/engineering/development/ci-cd/verify/testing/)
2. [Package](/handbook/product/categories/#package-stage)
  * [Package](/handbook/engineering/development/ci-cd/package/)
3. [Release](/handbook/product/categories/#release-stage)
  * [Release:Progressive Delivery](/handbook/engineering/development/ci-cd/release/progressive-delivery/)
  * [Release:Release Management](/handbook/engineering/development/ci-cd/release/release-management/)

## Who we are

### Verify:Continuous Integration
<%= direct_team(manager_role: 'Engineering Manager, Verify:Continuous Integration') %>

### Verify:Runner
<%= direct_team(manager_role: 'Engineering Manager, Verify:Runner') %>

### Verify:Testing
<%= direct_team(manager_role: 'Engineering Manager, Verify:Testing') %>

### Verify Frontend
<%= direct_team(manager_role: 'Frontend Engineering Manager, Verify') %>

### Package
<%= direct_team(manager_role: 'Engineering Manager, Package') %>

### Package Frontend
<%= direct_team(manager_role: 'Frontend Engineering Manager, Package') %>

### Release:Progressive Delivery
<%= direct_team(manager_role: 'Engineering Manager, Release:Progressive Delivery') %>

### Release:Release Management
<%= direct_team(manager_role: 'Engineering Manager, Release:Release Management') %>

### Release Frontend
<%= direct_team(manager_role: 'Frontend Engineering Manager, Release (CD)') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] CI\/CD/, direct_manager_role: 'Director of Engineering, CI/CD') %>

## Common Links

* Slack Channels
  * Verify [#s_verify](https://gitlab.slack.com/archives/C0SFP840G)
  * Package [#s_package](https://gitlab.slack.com/archives/CAGEWDLPQ)
  * Release [#s_release](https://gitlab.slack.com/archives/CBZGR90A2)
